<!-- <p>home works!</p>
<router-outlet></router-outlet> -->

<app-section
  [resources]="html5Resource.website"
  [header]="html5Resource.title"
></app-section>
<app-section
  [resources]="css3Resource.website"
  [header]="css3Resource.title"
></app-section>
<app-section
  [resources]="javascriptResource.website"
  [header]="javascriptResource.title"
></app-section>
<app-section
  [resources]="fontResource.website"
  [header]="fontResource.title"
></app-section>
<app-section
  [resources]="colorResources.website"
  [header]="colorResources.title"
></app-section>
<app-section
  [resources]="IconResource.website"
  [header]="IconResource.title"
></app-section>
<app-section
  [resources]="usefulAPIsResource.website"
  [header]="usefulAPIsResource.title"
></app-section>
<app-section
  [resources]="AIResource.website"
  [header]="AIResource.title"
></app-section>
<app-section
  [resources]="databaseResource.website"
  [header]="databaseResource.title"
></app-section>
<app-section
  [resources]="hostingResource.website"
  [header]="hostingResource.title"
></app-section>
<app-section
  [resources]="containerResource.website"
  [header]="containerResource.title"
></app-section>
